
body{
    background: #E8E5DA;
    align-content: center;
}

h1{
    font-family: Fantome;
    font-size: 100px;
    text-align: center;
    margin: auto;
    color: #3E1929;
    letter-spacing: 10px;
}

.boutons{
    font-family: Amarante;
    font-size: 20px;
    vertical-align: middle;
    text-align:right;
    color: #3E1929;
    opacity: 90%;
}

a{
    outline: none;
    text-decoration: none;
}

a:link{
    color: #3E1929;
}

a:visited{
    color: #3E1929;
}

a:focus{
    border-bottom: 1px solid;
    background: #3E1929;
    color: #E8E5DA;
}

a:hover{
    border-bottom: 1px solid;
    color: #8c4843;
}

.titres{
    font-family: Fantome;
    font-size: 80px;
    text-align: left;
    color: #648de5;
}

